<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/cf7cf444-c1cc-4ae2-a550-c5d60c4a061b/resourceGroups/machinetest-fantacode_group/providers/Microsoft.Web/sites/machinetest-fantacode</ResourceId>
    <ResourceGroup>machinetest-fantacode_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://machinetest-fantacode-b0asgtbvb4cuf0eq.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>f092ecc2-2ecc-4344-bece-7a848bd7167e</ProjectGuid>
    <PublishUrl>https://machinetest-fantacode-b0asgtbvb4cuf0eq.scm.canadacentral-01.azurewebsites.net/</PublishUrl>
    <UserName>$machinetest-fantacode</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>